<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8"><title>Top Restaurant</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Restaurant</title>
</head>
<body>
    {% include 'includes/header.html' %}

    <main>
        {% for restaurant in restaurants %}
            <div class="card">
                <h2>{{ restaurant['name'] }}</h2>
                <div class="card-img-container">
                    <img class="card-img" src="{{ restaurant['image_url'] }}" alt="restaurant image"/>
                </div>
                <p>{{ restaurant['display_address'] }}</p>
                <p> <b>Price:</b> {{ restaurant['price'] }}</p>
                <p> <b>Rating:</b> {{ restaurant['rating'] }}</p>
                <p> <b>Reviews:</b> {{ restaurant['review_count'] }}</p>
            </div>
        {% endfor %}
    </main>
</body>
</html>

